ul{list-style-type: none;}
ul li{
  margin: 10px 0;
}

.activeLink {
  padding: 10px 3px;
  color: rgb(255, 0, 0);
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgb(0, 255, 0), -3px -3px 5px rgb(0, 255, 0);
}
.deactivateLink{
  padding: 10px 2px;
  color: gold;
}